@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
  font-family: "Roboto", Tahoma, sans-serif;
}

.content p {
  @apply p-0 leading-[1.5];
}

.content h2,
.content p,
.content li {
  @apply overflow-hidden text-ellipsis;
}

.content a {
  @apply no-underline;
  @apply text-blue-500 hover:text-blue-600;
  @apply border-b border-blue-300;
  @apply transition-colors duration-300;
}

.content b {
  @apply font-medium;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply text-xl font-bold p-0;
}

.content img {
  @apply rounded;
}

.content ul {
  @apply list-disc pl-4;
}

.content ol {
  @apply list-decimal pl-4;
}

.content hr {
  @apply -mx-4;
}

.content pre {
  @apply -mx-4 p-4 text-sm bg-gray-50 overflow-auto whitespace-pre-wrap;
}

.content code {
  @apply text-sm bg-amber-100;
}

.content pre code {
  @apply bg-transparent;
}

.content blockquote {
  @apply -mx-4 p-4 border-l-8 border-gray-200 bg-gray-100 italic;
}

.content table {
  @apply table-auto -mx-4;
}

.content tr {
  @apply border-y;
}

.content th,
.content td {
  @apply py-2 px-4;
}

.content th + th,
.content td + td {
  @apply border-l;
}

.codex-editor__redactor {
  @apply flex flex-col gap-y-2;
}

.cdx-block,
.cdx-list__item,
.ce-paragraph {
  @apply !p-0 !leading-[1.5];
}

.cdx-list {
  @apply !pl-4;
}

.cdx-quote {
  @apply !m-0 !p-4;
}

.cdx-quote__text {
  @apply !min-h-0 !m-0 !not-italic;
}

.cdx-input {
  @apply border-none shadow-none p-0;
}

.twitter-tweet {
  @apply !m-0;
}

/*
 * PROGRESS BAR
 */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  @apply bg-amber-500;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);

  @apply shadow-amber-300 shadow-lg;
}

.sidebar {
  @apply fixed top-0 bottom-0 -left-[14rem];
  @apply px-4 w-[14rem] min-w-[14rem];
  @apply bg-gray-100 overflow-hidden z-50;
  @apply transition-[left] md:transition-none duration-[400ms];
}

.sidebar--open {
  @apply left-0 shadow-2xl;
}

@media screen(md) {
  .sidebar {
    @apply relative bg-transparent shadow-none z-auto;
  }

  .sidebar:not(.sidebar--open) {
    @apply w-0 min-w-0;
  }

  .sidebar__header {
    @apply hidden;
  }
}
